# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Phalanx.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\kyles\Documents\GitHub\Phalanx\.idea\.idea.Phalanx\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
